/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

:root {
  --border-radius: 10px;
  --color-confirm: #3f51b5;
  --color-confirm-highlight: #26389c;
  --video-width: 220px;
  --video-height: 180px;
  --initial-distance-from-edge: 0.5rem;
  --initial-percentage-multiplier-x: 14.29%; /* 100 / 7 */
  --initial-percentage-multiplier-y: 20%; /* 100 / 5 */
  --additional-distance-from-edge: 8%;
  --additional-percentage-multiplier-x: 16.67%; /* 100 / 6 */
  --additional-percentage-multiplier-y: 25%; /* 100 / 4 */
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: Arial;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/*
 * CUSTOM
 */

button {
  all: unset;
  cursor: pointer;
  background-color: var(--color-confirm);
  border-radius: 5px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  color: white;
  margin-right: 1rem;
  padding: 0.75rem 1.5rem;
}

button:hover {
  background-color: var(--color-confirm-highlight);
}

button.dismiss {
  background-color: gray;
  margin-right: 1rem;
}

button.c8a11y-predict-toggle-button {
  background-color: white;
  color: var(--color-confirm);
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0 1rem;
  padding: 0.5rem 0.75rem;
  position: absolute;
  right: 0;
  top: 0.25rem;
  z-index: 10001;
}

.c8a11y-info-banner {
  align-items: center;
  background-color: rgb(0 0 0 / 70%);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  height: 0;
  left: 0;
  z-index: 10003;
}

.c8a11y-info-banner.active {
  height: 40px;
}

.c8a11y-progress-bar {
  background-color: white;
  border-radius: var(--border-radius);
  height: 15px;
  margin: 0 0.5rem;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.c8a11y-progress {
  background-color: #8bc34a;
  border-radius: var(--border-radius);
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
}

.c8a11y-info-modal {
  background-color: white;
  border: 1px solid black;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  left: 30%;
  padding: 0.5rem 1.5rem 1rem;
  position: fixed;
  top: 25%;
  width: 40%;
  z-index: 10003;
}

.c8a11y-overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10002;
}

.c8a11y-mouse-target {
  background-color: rgb(0 188 212 / 70%);
  border-radius: 50%;
  height: 1.25rem;
  margin: 0 -0.625rem -0.625rem 0;
  position: absolute;
  width: 1.25rem;
}

.c8a11y-mouse-target.inline {
  display: inline-block;
  margin: 0 0.25rem -0.25rem;
  position: relative;
}

.c8a11y-stream-container {
  background-color: #fff;
  border-radius: var(--border-radius);
  position: absolute;
  top: 0;
  left: 0;
  height: var(--video-height);
  margin: 1rem;
  overflow: hidden;
  width: var(--video-width);
  z-index: 10000;
}

.c8a11y-video {
  background-color: #ccc;
  border-radius: var(--border-radius);
  height: var(--video-height);
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: var(--video-width);
}

.c8a11y-dot {
  background-color: rgb(124 206 29 / 70%);
  border-radius: 50%;
  margin: 0 -0.75rem -0.75rem 0;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
}

.c8a11y-dot:hover {
  background-color: rgb(255 235 59 / 70%);
}

.c8a11y-dot.inline {
  display: inline-block;
  margin: 0 0.25rem -0.25rem;
  position: relative;
}

@keyframes dot-animation {
  0% {
    height: 1.5rem;
    width: 1.5rem;
  }
  50% {
    height: 2rem;
    width: 2rem;
  }
  100% {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.c8a11y-dot.animate {
  animation-name: dot-animation;
  animation-duration: 0.3s;
}

/* INITIAL DOTS */

.c8a11y-initial-dot.x1 {
  left: var(--initial-distance-from-edge);
}

.c8a11y-initial-dot.x2 {
  left: calc(var(--initial-percentage-multiplier-x) * 1);
}

.c8a11y-initial-dot.x3 {
  left: calc(var(--initial-percentage-multiplier-x) * 2);
}

.c8a11y-initial-dot.x4 {
  left: calc(var(--initial-percentage-multiplier-x) * 3);
}

.c8a11y-initial-dot.x5 {
  left: calc(var(--initial-percentage-multiplier-x) * 4);
}

.c8a11y-initial-dot.x6 {
  left: calc(var(--initial-percentage-multiplier-x) * 5);
}

.c8a11y-initial-dot.x7 {
  left: calc(var(--initial-percentage-multiplier-x) * 6);
}

.c8a11y-initial-dot.x8 {
  right: var(--initial-distance-from-edge);
}

.c8a11y-initial-dot.y1 {
  top: var(--initial-distance-from-edge);
}

.c8a11y-initial-dot.y2 {
  top: calc(var(--initial-percentage-multiplier-y) * 1);
}

.c8a11y-initial-dot.y3 {
  top: calc(var(--initial-percentage-multiplier-y) * 2);
}

.c8a11y-initial-dot.y4 {
  top: calc(var(--initial-percentage-multiplier-y) * 3);
}

.c8a11y-initial-dot.y5 {
  top: calc(var(--initial-percentage-multiplier-y) * 4);
}

.c8a11y-initial-dot.y6 {
  bottom: var(--initial-distance-from-edge);
}

/* ADDITIONAL DOTS */

.c8a11y-additional-dot.x1 {
  left: var(--additional-distance-from-edge);
}

.c8a11y-additional-dot.x2 {
  left: calc(var(--additional-percentage-multiplier-x) * 1 + 5%);
}

.c8a11y-additional-dot.x3 {
  left: calc(var(--additional-percentage-multiplier-x) * 2 + 2.5%);
}

.c8a11y-additional-dot.x4 {
  left: calc(var(--additional-percentage-multiplier-x) * 3);
}

.c8a11y-additional-dot.x5 {
  left: calc(var(--additional-percentage-multiplier-x) * 4 - 2.5%);
}

.c8a11y-additional-dot.x6 {
  left: calc(var(--additional-percentage-multiplier-x) * 5 - 5%);
}

.c8a11y-additional-dot.x7 {
  right: var(--additional-distance-from-edge);
}

.c8a11y-additional-dot.y1 {
  top: var(--additional-distance-from-edge);
}

.c8a11y-additional-dot.y2 {
  top: calc(var(--additional-percentage-multiplier-y) * 1 + 5%);
}

.c8a11y-additional-dot.y3 {
  top: calc(var(--additional-percentage-multiplier-y) * 2);
}

.c8a11y-additional-dot.y4 {
  top: calc(var(--additional-percentage-multiplier-y) * 3 - 5%);
}

.c8a11y-additional-dot.y5 {
  bottom: var(--additional-distance-from-edge);
}

.c8a11y-predicted-iris-target {
  background-color: rgb(63 81 181 / 70%);
  border-radius: 50%;
  position: absolute;
  height: 1rem;
  width: 1rem;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
