/* ==========================================================================
   Variables
   ========================================================================== */

:root {
  --border-radius: 10px;
  --color-confirm: #3f51b5;
  --color-confirm-highlight: #26389c;
  --video-width: 220px;
  --video-height: 180px;
  --initial-distance-from-edge: 0.5rem;
  --initial-percentage-multiplier-x: calc(100% / 5);
  --initial-percentage-multiplier-y: calc(100% / 3);
  --additional-distance-from-edge: 10%;
  --additional-percentage-multiplier-x: calc(100% / 4);
  --additional-percentage-multiplier-y: calc(100% / 2);
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

button {
  all: unset;
  cursor: pointer;
  background-color: var(--color-confirm);
  border-radius: 5px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  color: white;
  margin-right: 1rem;
  padding: 0.75rem 1.5rem;
}

button:hover {
  background-color: var(--color-confirm-highlight);
}

button.dismiss {
  background-color: gray;
  margin-right: 1rem;
}

button.c8a11y-predict-toggle-button {
  background-color: white;
  color: var(--color-confirm);
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0 1rem;
  padding: 0.5rem 0.75rem;
  position: absolute;
  right: 0;
  top: 0.25rem;
  z-index: 10001;
}

.c8a11y-info-banner {
  align-items: center;
  background-color: rgb(0 0 0 / 70%);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  height: 0;
  left: 0;
  z-index: 10003;
}

.c8a11y-info-banner.active {
  height: 40px;
}

.c8a11y-progress-bar {
  background-color: white;
  border-radius: var(--border-radius);
  height: 15px;
  margin: 0 0.5rem;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.c8a11y-progress {
  background-color: #00bcd4;
  border-radius: var(--border-radius);
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
}

.c8a11y-info-modal {
  background-color: white;
  border: 1px solid black;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  left: 30%;
  padding: 0.5rem 1.5rem 1rem;
  position: fixed;
  top: 25%;
  width: 40%;
  z-index: 10003;
}

.c8a11y-overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10002;
}

.c8a11y-mouse-target {
  background-color: rgb(0 188 212 / 70%);
  border-radius: 50%;
  height: 1.25rem;
  margin: 0 -0.625rem -0.625rem 0;
  position: absolute;
  width: 1.25rem;
}

.c8a11y-mouse-target.inline {
  display: inline-block;
  margin: 0 0.25rem -0.25rem;
  position: relative;
}

.c8a11y-stream-container {
  background-color: rgb(255 255 255 / 70%);
  border-radius: var(--border-radius);
  position: fixed;
  top: 0;
  left: 0;
  height: var(--video-height);
  margin: 1rem;
  overflow: hidden;
  width: var(--video-width);
  z-index: 10000;
}

.c8a11y-peephole {
  border: 2px solid #00bcd4;
  left: 30%;
  height: 20%;
  position: absolute;
  top: 30%;
  width: 40%;
}

.c8a11y-video {
  background-color: #ccc;
  border-radius: var(--border-radius);
  height: var(--video-height);
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: var(--video-width);
}

.c8a11y-dot {
  background-color: rgb(124 206 29 / 70%);
  border-radius: 50%;
  margin: 0 -0.75rem -0.75rem 0;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
}

.c8a11y-dot:hover {
  background-color: rgb(255 235 59 / 70%);
}

.c8a11y-dot.inline {
  display: inline-block;
  margin: 0 0.25rem -0.25rem;
  position: relative;
}

@keyframes dot-animation {
  0% {
    height: 1.5rem;
    width: 1.5rem;
  }
  50% {
    height: 2rem;
    width: 2rem;
  }
  100% {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.c8a11y-dot.animate {
  animation-name: dot-animation;
  animation-duration: 0.3s;
}

/* INITIAL DOTS */

.c8a11y-initial-dot.x1 {
  left: var(--initial-distance-from-edge);
}

.c8a11y-initial-dot.x2 {
  left: calc(var(--initial-percentage-multiplier-x) * 1);
}

.c8a11y-initial-dot.x3 {
  left: calc(var(--initial-percentage-multiplier-x) * 2);
}

.c8a11y-initial-dot.x4 {
  left: calc(var(--initial-percentage-multiplier-x) * 3);
}

.c8a11y-initial-dot.x5 {
  left: calc(var(--initial-percentage-multiplier-x) * 4);
}

.c8a11y-initial-dot.x6 {
  right: var(--initial-distance-from-edge);
  margin: 0 !important;
}
.c8a11y-initial-dot.y1 {
  top: var(--initial-distance-from-edge);
}

.c8a11y-initial-dot.y2 {
  top: calc(var(--initial-percentage-multiplier-y) * 1);
}

.c8a11y-initial-dot.y3 {
  top: calc(var(--initial-percentage-multiplier-y) * 2);
}

.c8a11y-initial-dot.y4 {
  bottom: var(--initial-distance-from-edge);
  margin: 0 !important;
}

/* ADDITIONAL DOTS */

.c8a11y-additional-dot.x1 {
  left: var(--additional-distance-from-edge);
}

.c8a11y-additional-dot.x2 {
  left: calc(var(--additional-percentage-multiplier-x) * 1 + 5%);
}

.c8a11y-additional-dot.x3 {
  left: calc(var(--additional-percentage-multiplier-x) * 2);
}

.c8a11y-additional-dot.x4 {
  left: calc(var(--additional-percentage-multiplier-x) * 3 - 5%);
}

.c8a11y-additional-dot.x5 {
  right: var(--additional-distance-from-edge);
}

.c8a11y-additional-dot.y1 {
  top: var(--additional-distance-from-edge);
}

.c8a11y-additional-dot.y2 {
  top: calc(var(--additional-percentage-multiplier-y) * 1);
}

.c8a11y-additional-dot.y3 {
  bottom: var(--additional-distance-from-edge);
}

.c8a11y-predicted-iris-target {
  background-color: rgb(63 81 181 / 70%);
  border-radius: 50%;
  position: absolute;
  height: 1rem;
  width: 1rem;
}
